:root {
  --primary-color: #D9D9D9;
  --secondary-color: #99C8F2;
  --accent-color: #D9984A;
  --danger-color: #F44336;
  --success-color: #4CAF50;
  --bg-color: #9594CD;  
}

.page {
  background-color: var(--secondary-color);
  min-height: 100vh;
}

.bg-page {
  background-color: var(--primary-color) !important;
  min-height: 100vh;
  width: 100%;
}

.btn-primary {
  background-color: var(--primary-color) !important;
  border: 1px solid var(--primary-color) !important;
}

.btn-login {
  width: 140px;
  transition: transform ease 300ms;
}

.btn-login:hover {
  transform: translate(0, -1px);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.7);
}

.list-group-item-action {
  cursor: pointer;
}

.img-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.cursor-pointer {
  cursor: pointer;
}

.btn-card {
  max-height: 38px !important;
}

.card-img-wrap {
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.card-img-wrap:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.3);
  opacity: 0;
  transition: opacity .25s;
}

.card-img-wrap img {
  transition: transform .25s;
  width: 100%;
}

.card-img-wrap:hover img {
  transform: scale(1.2);
}

.card-img-wrap:hover:after {
  opacity: 1;
}

.btn-outline-danger {
  color: var(--danger-color) !important;
  border: none !important;
}

.btn-outline-danger:hover {
  background-color: var(--danger-color) !important;
  color: white !important;
}

.btn-outline-danger:active {
  background-color: var(--danger-color) !important;
  color: white !important;
}

.loading-page {
  position: absolute;
  z-index: 999;
  top: 0;
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.card-header {
  background-color: transparent !important;
}

.card-footer {
  background-color: transparent !important;
}

.fixed-top {
  background-color: var(--primary-color);
}

.btn-sm {
  border: none !important;
  color: black !important;
}

.btn-sm:hover {
  font-size: 1rem;
  font-weight: 500;
}

.btn-primary {
  background-color: var(--primary-color) !important;
}

.btn-secondary {
  background-color: var(--secondary-color) !important;
  border: none !important;
}

.btn-success {
  background-color: var(--success-color) !important;
}

.badge span {
  font-size: 1em !important;
}

.scroll-vertical {
  max-height: 80vh;
  overflow-y: auto;
}

.card-container {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.card-container .image {
  display: block;
  width: 100%;
  height: auto;
}

.text-overlay {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.7);
}

.card-container:hover .overlay {
  opacity: 1;
}

.card-image {
  max-height: 300px !important;
}

.card-secondary {
  background-color: var(--secondary-color) !important;
  color: black !important;
}

.card-secondary a{
  background-color: var(--secondary-color) !important;
  color: black !important;
}

.card-accent {
  background-color: var(--accent-color) !important;
  color: black !important;
}

.btn-primary {
  background-color: var(--primary-color) !important;
}

.btn-accent {
  background-color: var(--accent-color) !important;
  color: black !important;
  border: 1px solid var(--accent-color) !important;
}

.btn-accent:hover {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}

.btn-secondary {
  background-color: var(--secondary-color) !important;
}

.card-selection {
  background-color: transparent !important;
  color: black !important;
}